{:kmono/workspace {:group com.kepler16
                   :repl-aliases [:workspace/dev]}

 :aliases {:versions/clj-test {:default-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
           :workspace/dev {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}}}
           :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                                com.kepler16/kaven {:mvn/version "1.0.0-alpha.1"}

                                com.kepler16/kmono-version {:local/root "../../packages/kmono-version"}
                                com.kepler16/kmono-build {:local/root "../../packages/kmono-build"}
                                com.kepler16/kmono-core {:local/root "../../packages/kmono-core"}}
                   :ns-default build
                   :extra-paths ["build"]}}}
